@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в канцелярский магазин!</h1>
    <p>Здесь вы найдете все необходимые канцелярские товары для работы и учебы.</p>

    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Широкий ассортимент</h5>
                    <p class="card-text">Более 1000 наименований канцелярских товаров</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Быстрая доставка</h5>
                    <p class="card-text">Доставим ваш заказ в течение 24 часов</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Низкие цены</h5>
                    <p class="card-text">Конкурентные цены на все товары</p>
                </div>
            </div>
        </div>
    </div>

   
</div>
